* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0, auto;
}
header {
  background-color: #eeeeee;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 100px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
li a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.fa-solid.fa-bars {
  display: none;
  font-size: 1.5rem;
  color: black;
}
@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .fa-solid.fa-bars {
    display: block;
  }
  .icons {
    display: none;
  }
}
#hero-banner {
  background-color: #eeeeee;
}
#hero-banner .carousel-inner .carousel-left,
#hero-banner .carousel-inner .carousel-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}
#hero-banner .carousel-inner .carousel-item-container {
  display: flex;
}
.buttons button.now {
  padding: 5px 15px;
  color: white;
  background-color: #697861;
  border: none;
}
.buttons button.now:hover {
  color: white;
  background-color: rgba(88, 104, 79);
}
.buttons button.details {
  padding: 5px 15px;
  color: black;
  background-color: white;
  border: none;
}
.buttons button.details:hover {
  color: white;
  background-color: rgba(88, 104, 79);
}
@media only screen and (max-width: 767px) {
  #hero-banner .carousel-inner .carousel-left,
  #hero-banner .carousel-inner .carousel-right {
    flex-direction: column;
  }
  #hero-banner .carousel-inner .carousel-item-container {
    flex-direction: column;
  }
}
#banner {
  background-color: rgba(88, 104, 79);
  padding: 50px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.banner-card {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  color: white;
}
.banner-card i {
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .banner {
    flex-direction: column;
  }
  .banner-card {
    flex-direction: column;
  }
}
#arrivals {
  margin-top: 80px;
}
.arrivals-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
button.view {
  padding: 5px 15px;
  border: 1.5px solid #697861;
  color: black;
  background-color: white;
}
button.view:hover {
  border: none;
  color: white;
  background-color: rgba(88, 104, 79);
}
.arrivals-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.arrivals-card img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .arrivals-top {
    flex-direction: column;
  }
  .arrivals-cards {
    flex-direction: column;
  }
}
button.delete {
  padding: 5px 10px;
  color: white;
  background-color: #697861;
  border: none;
}
a.a-tag {
  text-decoration: none;
  color: rgba(88, 104, 79);
}

#decor {
  background-image: url("../images/home-cta-background-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.decor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: white;
}
.decor-left {
  width: 50%;
  margin-top: 10%;
}
button.details {
  padding: 5px 15px;
  color: white;
  border: none;
  background-color: rgba(88, 104, 79);
}
@media only screen and (max-width: 767px) {
  #decor {
    flex-direction: column;
  }
  .decor {
    flex-direction: column;
  }
}
#news {
  margin-top: 70px;
}
.news-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.news-card img {
  width: 100%;
}
h1 {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .news-cards {
    flex-direction: column;
  }
  .news-card img {
    width: 100%;
  }
}
#footer {
  margin-top: 50px;
  background-color: #697861;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.footer img {
  width: 300px;
}
@media only screen and(max-width:767px) {
  .footer {
    flex-direction: column;
  }
  .footer img {
    width: 150px;
  }
}
