* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.calculator {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.simpleCalculator {
  background-color: bisque;
  width: 350px;
  padding: 15px;
  text-align: center;
  border-radius: 7px;
}
.inputs {
  background-color: black;
  width: 100%;
  color: white;
<<<<<<< HEAD
  text-align: end;
=======
  padding: 10px;
  text-align: end;
  border-radius: 7px;
>>>>>>> 84f87b38dee1fe04cca45456108befe300bd2a0f
}
.numberOne,
.numberTwo {
  width: 45%;
  font-weight: bold;
}
.addition,
.substract,
.multiply,
.division {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-weight: bold;
}
.reset {
  background-color: orange;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 3px solid;
}
h1{
  padding: 10px;
}
